<!DOCTYPE html>
<html>
<body>
    <h1>My first jox template</h1>
    <%
    for(var i=0; i<comments.length; i++){
        var c = comments[i]; %>
        <h2><%=c.ctx.name%></h2>
        <%-c.description.full%>
        <%
    }
    %>
</body>
</html>